/* debug */
main {
    height: 2933px;
}


#bg-white {
    background-color: white;
}

footer {
    height: 618px;
    background-color: brown;
}

/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* container */
.margin-container {
    width: 75%;
    margin: 0 auto;
}

/* list */
.list-inline li,
a {
    display: inline-block;
    padding: 0 3px;
    text-decoration: none;
    color: #33465B;
}

/* float */
.float-left {
    float: left;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* button */
.btn {
    line-height: 20px;
    padding: 10px 15px;
    border: 1px solid #FE775A;
    border-radius: 5px;
}

.btn-lg {
    padding: 20px;
}

.btn-orange {
    background-color: #FE775A;
    color: white;
}

ul :hover a {
    color: #FE775A;
}

ul :hover .btn-orange {
    background-color: unset;    
}

/* margin */
.mb-30 {
    margin-bottom: 30px;
}

.ml-10 {
    margin: 0px 15px;
}

/* txt */
h1 {
    font-size: 40px;
    font-weight: bold;
    color:  #33465B;
}

p {
    color:  #33465B;
}

.w-75 {
    width: 75%;
}


/* body */
body {
    font-family: 'Nunito', sans-serif;
    color: #33465B;
}

/* header */
header {
    position: relative;
    height: 845px;
    background-image: url(../img/jumbotron.png);
    background-size: 107%;
    background-repeat: no-repeat;
    background-position:  70% 194%;
}
/* header-nav1 */
.header-nav {
    line-height: 77px;
}

#line {
    background-color: #F4F9FE;
    border-bottom: 1px solid  #33465B;
}

.nav-left {
    width: 43%;
    vertical-align: middle;
}

.nav-right {
    width: 53%;
    text-align: right;
    vertical-align: middle;
}

.nav-right li {
    margin: 5px;
}

.nav-left li :nth-child(2){
    line-height: 20px;
    padding-right: 20px;
    border-right: 1px solid black;
}

#search {
    color: #11A9C0;
}

/* header-nav2 */
#logo {
    width: 110px;
    vertical-align: middle;
}

/* jumbotron */
.jumbotron {
    position: absolute;
    top: 28%;
    width: 558px;
    /* height: 378px; */
    /* background-color: tomato; */
}

.aqua-space {
    height: 80px;
    border-top: 3px solid #33465B;
    border-bottom: 3px solid #33465B;
    background-color: #B0EBE4;
}

/* section */
section {
    background-color: #F4F9FE;
}

#first-box {
    position: relative;
    width: 100%;
    height: 345px;
    margin-bottom: 10px;
}

.col1 {
    width: 30%;
    /* height: 655px; */
    margin: 40px 0;
}

.col2 {
    width: 29%;
    /* height: 655px; */
    margin: 40px 58px 0px 60px;
}

.col3 {
    width: 30%;
    /* height: 655px; */
    margin: 40px 0;
}

#img-big {
    height: 170px;
}

.img-small {
    height: 100px;
}

.content {
    width: 82%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    padding: 20px;
}

.padding-box {
    padding: 60px 10px;
}

#img-content {
    width: 35%;
    text-align: center;
}

.txt-box {
    width: 60%;
}

#orange {
    color: #FE775A;
}

.col-container {
    text-align: center;
    padding: 10px 35px;
}

.col-sub-container {
    height: 383px;
    border-bottom: 1px solid #33465B;
}

.col-sub-container2 {
    height: 235px;
}

.list {
    list-style: none;
    text-align: left;

}
